<div style="text-align: center;">
  <h1>{{ pokemon.name | titlecase }}</h1>
  <img [src]="pokemon.imgUrl" [alt]="pokemon.name + ' picture'" width="150" height="150" />

  <h3>Height:</h3>
  <p style="color: #555555;">{{ pokemon.height }}</p>

  <h3>Types:</h3>
  <ul class = "pokemon-details">
    <li *ngFor="let type of pokemon.types">{{ type | titlecase }}</li>
  </ul>

  <h3>Abilities:</h3>
  <ul class = "pokemon-details">
    <li *ngFor="let ability of pokemon.abilities">{{ ability.replace('-', ' ') | titlecase }}</li>
  </ul>

  <button routerLink="/">Pokemons List</button>


</div>
